@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    background-color: #eff1f5;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    color: #a5004d;
    display: flex;
    flex-direction: column;
    font-family: 'Agbalumo';
    min-height: 100vh;
    width: 100%;
}

.container_buttons {
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    justify-content: center;
}

button {
    background-color: #a5004d;
    color: whitesmoke;
    cursor: pointer;
    text-transform: capitalize;
    font-size: medium;
    border: 0 none;
    line-height: 1.3;
    flex: 0 0 160px;
    border-radius: 36px;
    padding: 1rem;
}

button:active {
    transform: scale(0.98);
}