@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    background-color: #eff1f5;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    color: #a5004d;
    display: flex;
    flex-direction: column;
    font-family: 'Agbalumo';
    gap:1.5rem;
    min-height: 100vh;
    width: 100%;
}

h1 {
    margin-top: 0.5rem;
}

.container_buttons {
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    justify-content: center;
}

button {
    background-color: #a5004d;
    color: whitesmoke;
    cursor: pointer;
    text-transform: capitalize;
    font-size: medium;
    border: 0 none;
    line-height: 1.0;
    flex: 0 0 160px;
    border-radius: 36px;
    padding: 0.9rem;
}

button:active {
    transform: scale(0.98);
}

.container_image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a5004d;
    height: 530px;
    width: 580px;
}

img {
 height: 500px;
 width: 550px;
}

@media screen and (max-width: 900px) {
    .container_buttons {
        flex-wrap: wrap;
    }

    .container_image, img {
        max-width: 90%;
    }
 
  }


@media screen and (max-width: 300px) {
    .container_buttons {
        flex-wrap: wrap;
    }

    .container_image, img {
        height: 90%;
        width: 90%;
    }
 
  }